<?xml version="1.0" encoding="utf-8"?><!--
 Copyright (c) 2011-2012 Qualcomm Technologies, Inc.  All Rights Reserved.
 Qualcomm Technologies Proprietary and Confidential.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nfp.update">

    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECOVERY" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MASTER_CLEAR" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_CACHE_FILESYSTEM" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.DELETE_CACHE_FILES" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/software_update"
        android:theme="@style/AppBaseTheme">
        <activity
            android:name=".MainActivity"
            android:clearTaskOnLaunch="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SoftwareUpdate" />
        <activity android:name=".DialogText" />
        <activity
            android:name=".PrepareUpdateActivity"
            android:allowTaskReparenting="true" />
        <activity android:name=".LowBatteryActivity" />
        <activity android:name=".AutoUpdate" />
        <activity android:name=".TestProgress" />
        <activity android:name=".ProgressActivity" />

        <!--
            <activity android:name=".ScheduleSetting"
            android:label="@string/update_schedule">
        </activity>
        -->

        <activity android:name=".UpdateDialog">
            <intent-filter>
                <action android:name="android.settings.SYSTEM_UPDATE" />
            </intent-filter>
        </activity>
        <activity android:name=".LessVolumeActivity" />
        <activity android:name=".UpdateSuccessActivity" />
        <activity android:name=".UpdateFailActivity" />

        <!--
            <activity android:name=". " android:theme="@style/NoDisplay">
            <intent-filter>
                <action android:name="com.qualcomm.update.REBOOT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.qualcomm.update.REBOOT_DELTA" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
            </intent-filter>
        </activity>
        -->


        <!-- <activity android:name=".UpdateDialog" android:launchMode="singleInstance"/> -->

        <activity
            android:name=".CheckDeltaProgressDialog"
            android:launchMode="singleInstance" />
        <activity
            android:name=".UpdateSchedule"
            android:launchMode="singleInstance" />

        <service
            android:name=".DebugService"
            android:launchMode="singleInstance" />

        <activity
            android:name=".DownloadProgress"
            android:allowTaskReparenting="true"
            android:screenOrientation="nosensor" />

        <receiver
            android:name=".DebugReceiver"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.android.nfp.updateDebug" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".AlarmReceiver"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.nfp.update.ALARM" />
                <action android:name="com.nfp.update.SCHEDULE" />
                <action android:name="com.nfp.update.UPDATE" />
            </intent-filter>
        </receiver>

        <service android:name=".AutoUpdateService" />
        <service android:name=".polling.PollingService" />

        <receiver android:name=".polling.PollReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.action.NITZ" />
                <action android:name="android.intent.action.RETRY" />
                <action android:name="com.sim.AboveOneHour" />
                <action android:name="software.update.cleardata" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>
        <receiver android:name=".TimeChangeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>
        <!--
            <uses-library android:name="com.nextfp.android.util"/>
        <uses-library android:name="com.nextfp.android.app" />
        -->
        <!--
            <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/dialog_bg" />
        -->
<!--        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/selector_green_bg" />-->
        <activity android:name="com.loopj.android.http.sample.WaypointsActivity"/>
        <activity android:name="com.loopj.android.http.sample.GetSample" />
        <activity android:name="com.loopj.android.http.sample.PostSample" />
        <activity android:name="com.loopj.android.http.sample.DeleteSample" />
        <activity android:name="com.loopj.android.http.sample.HeadSample" />
        <activity android:name="com.loopj.android.http.sample.PutSample" />
        <activity android:name="com.loopj.android.http.sample.PatchSample" />
        <activity android:name="com.loopj.android.http.sample.JsonSample" />
        <activity android:name="com.loopj.android.http.sample.JsonStreamerSample" />
        <activity android:name="com.loopj.android.http.sample.FileSample" />
        <activity android:name="com.loopj.android.http.sample.DirectorySample" />
        <activity android:name="com.loopj.android.http.sample.BinarySample" />
        <activity android:name="com.loopj.android.http.sample.GzipSample" />
        <activity android:name="com.loopj.android.http.sample.Redirect302Sample" />
        <activity android:name="com.loopj.android.http.sample.ThreadingTimeoutSample" />
        <activity android:name="com.loopj.android.http.sample.CancelAllRequestsSample" />
        <activity android:name="com.loopj.android.http.sample.CancelRequestByTagSample" />
        <activity android:name="com.loopj.android.http.sample.CancelRequestHandleSample" />
        <activity android:name="com.loopj.android.http.sample.SynchronousClientSample" />
        <activity android:name="com.loopj.android.http.sample.IntentServiceSample" />
        <activity android:name="com.loopj.android.http.sample.SaxSample" />
        <activity android:name="com.loopj.android.http.sample.FilesSample" />
        <activity android:name="com.loopj.android.http.sample.PersistentCookiesSample" />
        <activity android:name="com.loopj.android.http.sample.CustomCASample" />
        <activity android:name="com.loopj.android.http.sample.RetryRequestSample" />
        <activity android:name="com.loopj.android.http.sample.RangeResponseSample" />
        <activity android:name="com.loopj.android.http.sample.Http401AuthSample" />
        <activity android:name="com.loopj.android.http.sample.AsyncBackgroundThreadSample" />
        <activity android:name="com.loopj.android.http.sample.ContentTypeForHttpEntitySample" />
        <activity android:name="com.loopj.android.http.sample.ResumeDownloadSample" />
        <activity android:name="com.loopj.android.http.sample.PrePostProcessingSample" />
        <activity android:name="com.loopj.android.http.sample.DigestAuthSample" />
        <activity android:name="com.loopj.android.http.sample.UsePoolThreadSample" />
        <activity android:name="com.loopj.android.http.sample.RequestParamsDebug" />

        <service android:name="com.loopj.android.http.sample.services.ExampleIntentService" />




    </application>

</manifest>